 body{
background-color:cyan;
border:2px yellow;

}

h1 , h2{
background-color:purple;
text-align:center;

}

h1{

border:5px solid black;
border-radius:15px;
}


h2{
color:white;
border-bottom:4px solid black;
border-top-right-radius:15px;
border-top-left-radius:15px;
border-top-style:dotted;
}



p.para1{

color:red;
font-size:25px;
font-family:century;
font-style:oblique;
line-height:40px;
background-image: url(blue-background-of-dots.jpg);
}



p.para2{

color:blue;
font-size:30px;
font-family:Britannic;
text-decoration:underline;
font-style:italic;
background-color:yellow;
border-color:pink;
border-wirdth:2px;
border-style:solid;
padding:10px;
margin:100px;
margin-top:100px;
padding-left:200px;
height:100px;
overflow:scroll;


}
 .bq{

color:blue;
font-size:20px;
font-family:Britannic;
text-decoration:underline;
}

p.fontweight1{
font-weight:light;
font-size:25px;
}


p.fontweight2{
font-weight:bold;
text-decoration:overline;
font-size:25px;
}


p.fontweight3{
font-weight:bolder;
text-decoration:line-through;
font-size:25px;
}


p.fontweight4{
font-weight:lighter;
text-decoration:underline;
font-size:25px;
}

.flowers{
margin-left:400px;
margin-top:100px;
border:10px solid white;
padding:20px;
background-color:black;
border-style:dotted;



}

.divtag{
text-decoration:underline;


}

.lol{
background-color:yellow;
}




a : link{
color:pink
}
a:visited{
color:yellow


}
a:hover{
color:white;
cursor:url(OneDrive.ico) ,default;

}



